<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title><%= title %></title>
        <%- include('./partials/head') %>
    </head>

    <body>
        <%- include('./partials/nav') %>
        <h1>전체 프로필</h1>
        <table border="1">
            <tr>
                <td>아이디</td>
                <td>닉네임</td>
                <td>나이대</td>
                <td>성별</td>
                <td>직업</td>
            </tr>
            
            <% for (var i=0; i<data.length; i++) { %>
            <tr>
                <td><a href="/profile/<%=data[i].user_id%>"><%=data[i].user_id%></a></td>
                <td><%=data[i].nickname%></td>
                <td><%=data[i].age%></td>
                <td><%=data[i].gender%></td>
                <td><%=data[i].job%></td>
            </tr>
            <% } %>
            
        </table>
        <br>
        <a href="/">뒤로가기</a>
    </body> 
</html>