<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <!--css 들어갈 부분-->
    <link href="../public/css/Board.css" rel="stylesheet"/>
    <%- include('./partials/head') %>
  </head>

  <body>
    <%- include('./partials/nav') %>
    <h1>Meow</h1>
    <p>
      <a href="/addTag" class="nav-link">태그 추가하기</a>
      <br />
      <a href="/addBoard" class="nav-link">게시글 작성</a>
      <br />
      <!-- <a href="/editBoard" class="nav-link">게시글 수정</a> -->
      <!-- <br /> -->
      <a href="/allProfile" class="nav-link">전체 프로필</a>
      <br /><br />
      <a href="/myBoardList">나의 게시글 목록</a>
      <br />
      <a href="/otherBoardList">모든 게시글 목록</a>

      <br />
      <a href="/category1">카테고리</a>

      <br>
      <a href="/findThroughPlace">장소로 찾는 게시글 목록</a>
      <br />
      <a href="/category1">카테고리</a>
      <br />
      <p style ="font-weight: 600; text-align:center;">인기 프로필 랭킹</p>
      
      <br>
      <div class = "wrap">
      <p style ="font-weight: 600; text-align:center;">인기 게시글 랭킹</p>
      <% for (let i = 0; i < rank5.length; i++) { %>
        <% if (userid != rank5[i].user_id) { %>
        <article>#<%= i+1 %>&emsp;&emsp;<a href="/Otherboard/<%=rank5[i].post_num%>/"
          ><img
            src="..<%=rank5[i].place_photo%>" width="100" height="100" 
        /></a></article>
        <% } else { %>
          <article>#<%= i+1 %>&emsp;&emsp;<a href="/Myboard/<%=rank5[i].post_num%>/"
            ><img
              src="../..<%=rank5[i].place_photo%>"
              width="100" height="100"
          /></a></article>
          <!-- </article> -->
          <% } %> <br /><% } %>
      </div>

    </p>
  </body>
</html>
