<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <link href="/css/Board.css" rel="stylesheet" />
    <%- include('./partials/head') %>
  </head>

  <body>
    <%- include('./partials/nav') %>
    <h1>Meow</h1>
    <p>
      <a href="/addTag" class="nav-link" style="color:black; text-decoration: none; ">태그 추가하기</a>

      <br />
      <a href="/addBoard" class="nav-link" style="color:black; text-decoration: none; ">게시글 작성</a>

      <br />
      <a href="/myBoardList" style="color:black; text-decoration: none; ">나의 게시글 목록</a>

      <br />
      <a href="/otherBoardList" style="color:black; text-decoration: none; ">모든 게시글 목록</a>

      <br />
      <a href="/category1" style="color:black; text-decoration: none; ">카테고리</a>

      <br />
      <a href="/findThroughPlace" style="color:black; text-decoration: none; ">장소로 찾는 게시글 목록</a>
      <br />
    </p>
    <div class="wrap" style="text-align: center">
      <h4 style="font-weight: 600; text-align: center">인기 프로필 랭킹</h4>
      <br />
      <% for (let i = 0; i < rank3.length; i++) { %>
      <a
        href="/profile/<%= rank3[i].user_id%>"
        style="text-decoration: none; color: black"
        ><div
          class="top_profile"
          style="padding: 10px; display: inline-block; border: 2px solid #92B4EC;border-radius: 10px;"
        >
          #<%= i+1 %><br /><br />
          <!--img 기본 경로가 public이라서 /images로 들어가야돼-->
          <img src="../images/user.png" width="100" height="100" /><br /><br />
          <b>닉네임:</b> <%= rank3[i].nickname %> <br />
          <b>이름:</b> <%= rank3[i].name %> <br />
          <b>나이:</b> <%= rank3[i].age %>대 <br />
          <b>직업:</b> <%= rank3[i].job %> <br /></div
      ></a>
      &emsp;&emsp; <% } %>
    </div>
    <div class="wrap">
      <div id="card">
        <h4 style="font-weight: 600; text-align: center">인기 게시글 랭킹</h4>
        <% for (let i = 0; i < rank5.length; i++) { %> <% if (userid !=
        rank5[i].user_id) { %>
        <article>
          #<%= i+1 %><br />
          <div id="li">
            <img
              src="..<%=rank5[i].place_photo%>"
              style="
                width: 150px;
                height: 150px;
                object-fit: cover;
                border-radius: 10%;
              "
            />
            <div class="card-body">
              <p class="card-text">
                <br />
                <%=rank5[i].place_name%> <br /><br />
                <a
                  href="/Otherboard/<%=rank5[i].post_num%>/"
                  style="text-decoration: none; color: white"
                  >구경하러가기</a
                >
              </p>
              <br /><br />
            </div>
          </div>
        </article>
        &emsp;&emsp; <% } else { %>
        <article>
          #<%= i+1 %><br />
          <div id="li">
            <img
              src="../..<%=rank5[i].place_photo%>"
              style="
                width: 150px;
                height: 150px;
                object-fit: cover;
                border-radius: 10%;
              "
            />
            <div class="card-body">
              <p class="card-text">
                <br />
                <%=rank5[i].place_name%> <br /><br />
                <a
                  href="/Myboard/<%=rank5[i].post_num%>/"
                  style="text-decoration: none; color: white"
                  >구경하러가기</a
                >
              </p>
              <br /><br />
            </div>
          </div>
        </article>
        &emsp;&emsp;<% } %> <% } %>
      </div>
    </div>
  </body>
</html>
