<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8" />
        <link href="/css/Board.css" rel="stylesheet"/>
        <title><%= title %></title>
        <%- include('./partials/head') %>
    </head>

    <body>
        <title><%= title %></title>
        <%- include('./partials/nav') %>
        <div class="wrap">
            <% for(var i = 0; i<postNum.length; i++) { %>
                <input type="hidden" name="post_num"  value="<%=postNum[i]%>">
                <!-- <span id="placeName"><%=placeName[i]%></span><br> -->
                    <article><a href = "/Myboard/<%=postNum[i]%>" ><img src="<%=placePhoto[i]%>" width='100' height="100"/></a></article>
            <% } %>
        </div>
        <a href="/">뒤로가기</a>
    </body>
</html>

