<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <link
      href="https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap"
      rel="stylesheet"
    />
    <link href="/css/Profile.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css"
    />
    <title><%= title %></title>
    <%- include('../partials/head') %>
    <script>
      var divdiv = document.getElementById("qna");
      divdiv.scrollTop = divdiv.scrollHeight;
      var divdiv2 = document.getElementById("post");
      divdiv2.scrollTop = divdiv2.scrollHeight;
      var divdiv3 = document.getElementById("subscribe");
      divdiv3.scrollTop = divdiv3.scrollHeight;
      var divdiv4 = document.getElementById("scrap");
      divdiv4.scrollTop = divdiv3.scrollHeight;
    </script>
  </head>

  <body>
    <% if (requestUser == undefined) { %> <%- include('../partials/loginNav') %>
    <% } else { %> <%- include('../partials/navProfile') %> <% } %>

    <header>Meow</header>
    <div class="top">
      <div class="profile">프로필</div>
      <!--프로필 이미지 추가-->
      <div class="info">
        <span id="user_id">아이디 : <%=row.user_id%></span><br />
        <span id="age">연령대 : <%=row.age%></span><br />
        <span id="gender">성별 : <%=row.gender%></span><br />
        <span id="job">직업 : <%=row.job%></span><br />
        <% if (row.home != null) { %>
        <span id="home">거주지 : <%=row.home%></span>
        <% } else { %>
        <br />
        <% } %>
      </div>
      <div class="qna">
        &lt;질문내용&gt;<br />
        <% if(qnas[0].length > 0) { %> <% let i = 1; qnas[0].forEach( qna => {
        %>
        <a href="/Otherboard/<%=qna.post_num%>">Q : <%=qna.qna_cont%></a><br />
        <% i++; %> <% }); %> <% } %>
      </div>
      <!-- <div class="qna">
        &lt;답변내용&gt;<br />
        <% if(qnas[0].length > 0) { %> <% let j = 1; qnas[0].forEach( qna => {
        %>
        <a href="/Otherboard/<%=qna.post_num%>">A : <%=qna.qna_ans%></a><br />
        <% j++; %> <% }); %> <% } %>
      </div> -->
      <div class="edit">
        <% if (!notUser) { %> <% if (user) { %> <% if (row.home == null &&
        row.introduction == null) { %>
        <button onclick="location.href='/addProfile'">
          <i class="bi bi-plus-square"> </i> 프로필 추가
        </button>
        <% } else { %>
        <button onclick="location.href='/editProfile'">
          <i class="bi bi-pencil-square"> </i> 프로필 수정
        </button>
        <% } %> <% } else { %>
        <form action="/subscribe" method="post">
          <input type="hidden" name="userid" value="<%=row.user_id%>" />
          <% if (canSubs) { %>
          <button type="submit" id="subscribeBtn">
            <i class="bi bi-x-square-fill"> </i> 구독취소
          </button>
          <% } else { %>
          <button type="submit" id="subscribeCancelBtn">
            <i class="bi bi-heart-fill"> </i> 구독
          </button>
          <% } %>
        </form>
        <% } %><% } %>
      </div>
    </div>
    <br />
    <p class="intro">
      <% if (row.introduction != null) { %>
      <span id="intro">자기소개 : <%=row.introduction%></span>
      <% } else { %>
      <span>(자기소개)</span>
      <% } %>
    </p>
    <br />
    <div class="bottom">
      <div class="post">
        <!-- 프로필에 해당하는 사용자가 올린 게시글 -->
        <p><%= row.nickname%>가 올린 게시물</p>
        <% if (myPost[0][0].place_photo == null) { %>
        <p><%=myPost%></p>
        <% } else { %> <% for (var i = 0; i < myPost[0].length; i++) { %>
        <!-- <article> -->
        <% if (userid != row.user_id) { %>
        <a href="/Myboard/<%=myPost[0][i].post_num%>/"
          ><img
            src="../..<%=myPost[0][i].place_photo%>"
            style="
              width: 100px;
              height: 100px;
              object-fit: cover;
              border-radius: 10%;
            "
        /></a>
        <!-- </article> -->
        <% } else { %>
        <a href="/Otherboard/<%=myPost[0][i].post_num%>/"
          ><img
            src="../..<%=myPost[0][i].place_photo%>"
            style="
              width: 100px;
              height: 100px;
              object-fit: cover;
              border-radius: 10%;
            "
        /></a>
        <!-- </article> -->
        <% } %><% } %> <br /><% } %>
      </div>
      <div class="subscribe">
        <p>구독한 유저</p>
        <% if (subscribe[0].user_id2 == null) { %>
        <p><%=subscribe%></p>
        <% } else { %> <% subscribe.forEach(sub => { %>
        <a href="/profile/<%=sub.user_id2%>"><%= sub.user_id2 %></a> <br /><%
        }); %> <% } %>
        <br />
        <!-- <a href="/allProfile">유저 프로필 보러가기</a> -->
      </div>
      <div class="scrap">
        <p>스크랩 게시물</p>
        <% if (scrap[0][0].post_num == null) { %>
        <p><%=scrap%></p>
        <% } else { %> <% for (var i = 0; i < scrap[0].length; i++) { %>
        <!-- <article> -->
        <a href="/Otherboard/<%=scrap[0][i].post_num%>/"
          ><img
            src="../..<%=scrapPic[i]%>"
            style="
              width: 100px;
              height: 100px;
              object-fit: cover;
              border-radius: 10%;
            "
        /></a>
        <!-- </article> -->
        <% } %>
        <br /><% } %>
      </div>
    </div>
    <br />
    <div class="goback">
      <a href="/">뒤로가기</a>
    </div>
  </body>
</html>
