<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <%- include('../partials/head') %>
    <style>
      header {
        font-size: 32px;
        text-align: center;
      }
      .top {
        height: 160px;
        margin: 10px 30px 10px 30px;
      }
      .profile {
        width: 160px;
        height: 160px;
        float: left;
        border: 1.5px solid;
        border-radius: 1em;
        text-align: center;
        line-height: 160px;
      }
      .info {
        width: 180px;
        height: 130px;
        float: left;
        border: 1.5px solid;
        border-radius: 2em;
        margin: 15px 0 15px 30px;
        padding: 15px 0 0 15px;
      }
      .question {
        width: 280px;
        height: 160px;
        float: left;
        border: 1.5px solid;
        border-radius: 2em;
        margin-left: 30px;
        text-align: center;
      }
      .answer {
        width: 280px;
        height: 160px;
        float: left;
        border: 1.5px solid;
        border-radius: 2em;
        text-align: center;
      }
      .intro {
        border: 1px solid;
        border-radius: 10px;
        margin: 0px 30px 0px 30px;
        padding: 5px 5px 5px 5px;
      }
      .edit > button {
        width: 100px;
        margin: auto;
        display: block;
      }
      .bottom {
        margin: 10px 30px 10px 30px;
      }
      .post {
        width: 28%;
        height: 200px;
        float: left;
        margin-right: 3%;
        border: 1.5px solid;
        border-radius: 1em;
      }
      .subscribe {
        width: 28%;
        height: 200px;
        float: left;
        margin-right: 3%;
        border: 1.5px solid;
        border-radius: 1em;
      }
      .scrap {
        width: 28%;
        height: 200px;
        float: left;
        margin-right: 3%;
        border: 1.5px solid;
        border-radius: 1em;
      }
    </style>
  </head>

  <body>
    <%- include('../partials/navProfile') %>
    <header>Meow</header>
    <div class="top">
      <div class="profile">프로필</div>
      <!--프로필 이미지 추가-->
      <div class="info">
        <span id="user_id">아이디 : <%=row.user_id%></span><br />
        <span id="age">연령대 : <%=row.age%></span><br />
        <span id="gender">성별 : <%=row.gender%></span><br />
        <span id="job">직업 : <%=row.job%></span><br />
        <% if (row.home != null) { %>
        <span id="home">거주지 : <%=row.home%></span>
        <% } else { %>
        <br />
        <% } %>
      </div>
      <div class="question">&lt;질문내용&gt;</div>
      <div class="answer">&lt;답변내용&gt;</div>
      <div class="edit">
        <% if (user) { %> <% if (row.home == null && row.introduction == null) {
        %>
        <button onclick="location.href='/addProfile'">프로필 추가</button>
        <% } else { %>
        <button onclick="location.href='/editProfile'">프로필 수정</button>
        <% } %> <% } else { %>
        <form action="/subscribe" method="post">
          <input type="hidden" name="userid" value="<%=row.user_id%>" />
          <% if (canSubs) { %>
          <button type="submit" id="subscribeBtn">구독취소</button>
          <% } else { %>
          <button type="submit" id="subscribeCancelBtn">구독</button>
          <% } %>
        </form>
        <% } %>
      </div>
    </div>
    <br />
    <p class="intro">
      <% if (row.introduction != null) { %>
      <span id="intro">자기소개 : <%=row.introduction%></span>
      <% } else { %>
      <span>(자기소개)</span>
      <% } %>
    </p>
    <br />
    <div class="bottom">
      <div class="post"><p>My게시물</p></div>
      <div class="subscribe">
        <p>구독한 유저</p>
        <% if (subscribe[0].user_id2 == null) { %>
        <p>구독자가 없습니다.</p>
        <% } else { %> <% subscribe.forEach(sub => { %> <%= sub.user_id2 %>
        <br /><% }); %> <% } %>
        <br />
        <a href="/allProfile">유저 프로필 보러가기</a>
      </div>
      <div class="scrap">스크랩 게시물</div>
    </div>
    <br />
    <a href="/">뒤로가기</a>
  </body>
</html>
