<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
    <title><%= title %></title>
    <link href="/css/updateUser.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="/edit" method="post">
    <table>
    <tr>
    <th>아이디</th>
    <td><input type="text" name="userid" id="userid" size="50"  readonly="readonly" value="<%=row.user_id%>" ></td>
    </tr>
    <tr>
      <th>이름</th>
      <td><input type="text" name="name" id="name" size="50"  value="<%=row.name%>"></td>
      </tr>
    <tr>
      <th>닉네임</th>
      <td><input type="text" name="nickname" id="nickname" size="50" value="<%=row.nickname%>"></td>
      </tr>
    <tr>
    <th>비밀번호</th>
    <td><input type="password" name="password" id="password" size="10" readonly="readonly" value="<%=row.password%>"></td>
    </tr> 
    <tr>
      <th>비밀번호 확인</th>
      <td><input type="text" name="confirm_pwd" id="confirm_pwd" size="50" ></td>
    </tr>
      <tr>
        <th>새 비밀번호</th>
        <td><input type="text" name="new_pwd" id="new_pwd" size="50" placeholder="선택사항" ></td>
        </tr>
    <tr>
        <th>나이대</th>
      <td>
      <input type="radio" name="age" id="age1" value="10" <%=(row.age == '10')? checked="checked" : ""%>>10대
      <input type="radio" name="age" id="age2" value="20" <%=(row.age == '20')? checked="checked" : ""%>>20대
      <input type="radio" name="age" id="age3" value="30" <%=(row.age == '30')? checked="checked" : ""%>>30대
      <input type="radio" name="age" id="age4" value="40" <%=(row.age == '40')? checked="checked" : ""%>>40대
      <input type="radio" name="age" id="age5" value="50" <%=(row.age == '50')? checked="checked" : ""%>>50대
      <input type="radio" name="age" id="age6" value="60" <%=(row.age == '60')? checked="checked" : ""%>>60대
      </td>
      </tr>
    <tr>
    <th>성별</th>
    <td>
    <input type="radio" name="gender" id="gender1" value="남" <%=(row.gender == '남')? checked="checked" : ""%>>남
    <input type="radio" name="gender" id="gender2" value="여" <%=(row.gender == '여')? checked="checked" : ""%>>여
    </td>
    </tr>
    <tr>
      <th>직업</th>
        <td><input type="text" name="job" id="new_job" size="50" ></td>
    </tr>
    <tr>
      <th>거주지</th>
      <td><input type="text" name="home" id="home" size="50" value="<%=row.home%>"  placeholder="시군구로 입력 (예) 파주시"></td>
    </tr>
    <tr>
    <tr>
      <th>자기소개</th>
      <td><input type="text" name="introduction" id="introduction" size="200"  value="<%=row.introduction%>"></td>
      </tr>  
    <td colspan="2">
      <input type="submit" id="button" value="수정">
      <input type="reset" id="button" value="취소">
      &nbsp;&nbsp; <a href="/"><i class="bi bi-backspace fs-100"></i></a>
    </td>
    </tr>
    </table>
    </form>
  </body>
</html>

