<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8" />
        <link href="/css/Board.css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
        <title><%= title %></title>
        <%- include('../partials/head') %>
    </head>

    <body>
        <title><%= title %></title>
        <%- include('../partials/nav') %>
        <span id="place" style="padding-left: 20px; font-weight: 600; font-size: 1.5rem;">
            <i class="bi bi-shop-window"></i> <%=place_name%> / <%=place_loc%>
        </span><br><br>
        <div class="wrap">
            <% for(var i = 0; i<postNum.length; i++) { %>
                <% if (userid == userID[i]) { %>
                <input type="hidden" name="post_num"  value="<%=postNum[i]%>">
                    <article><a href = "/Myboard/<%=postNum[i]%>" ><img src="<%=placePhoto[i]%>" style="width:150px; height:150px; object-fit: cover; border-radius: 10%;"/></a></article>
                    <% } else { %>
                        <input type="hidden" name="post_num"  value="<%=postNum[i]%>">
                    <article><a href = "/Otherboard/<%=postNum[i]%>" ><img src="<%=placePhoto[i]%>" style="width:150px; height:150px; object-fit: cover; border-radius: 10%;"/></a></article>
                    <% } %><% } %>
        </div>
        <a href="/">뒤로가기</a>
    </body>
</html>

