<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8" />
        <link href="https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap" rel="stylesheet">
        <link href="/css/Board.css" rel="stylesheet"/>
        <title><%= title %></title>
        <%- include('../partials/head') %>
    </head>

    <body>
        <title><%= title %></title>
        <% if (requestUser == undefined) { %>
            <%- include('../partials/loginNav') %>
            <% } else { %>
            <%- include('../partials/nav') %>
            <% } %>
        <div class="wrap">
            <% for(var i = 0; i<postNum.length; i++) { %>
                <input type="hidden" name="post_num"  value="<%=postNum[i]%>">
                <input type="hidden" name="post_userid"  value="<%=post_userid[i]%>">
                <!-- <span id="placeName"><%=placeName[i]%></span> -->
                <%if(post_userid[i]==userid){%>
                    <article><a href = "/Myboard/<%=postNum[i]%>/" ><img src="<%=placePhoto[i]%>" width='150' height="150"/></a></article>
                <% } else { %>
                    <article><a href = "/Otherboard/<%=postNum[i]%>/" ><img src="<%=placePhoto[i]%>" width='150' height="150"/></a></article>
                <% } %>
            <% } %>
        </div>
        <a href="/">뒤로가기</a>
    </body>
</html>

